.link-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.link-button:hover {

}

.link-button-blue {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.link-button-blue:hover {
    -fx-background-color: #4e73df;
}

.link-button-blue-clicked {
    -fx-background-color: #4e73df;
    -fx-background-radius: 0px;
}

.link-button-light {
    -fx-background-color: white;
    -fx-background-radius: 0px;
}

.link-button-light:hover {
    -fx-background-color: #F3F3F3;
}

.light-button {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: gray;
    -fx-border-radius: 5;
}

.light-button:hover {
    -fx-background-color: #F0F0F0;
}

.background-blue{
    -fx-background-color: #4e73df;
}

.background-white{
    -fx-background-color: #FFFFFF;
}

.background-gray{
    -fx-background-color: #cccccc;
}

.background-light{
    -fx-background-color: #f8f9fc;
}

.background-light-gray{
    -fx-background-color: #E9E9E9;
}

.background-dark{
    -fx-background-color: #343a40;
}

.border-gray{
    -fx-border-color: #cccccc;
}

.search-bar{
    -fx-background-color: #f8f9fc;
    -fx-text-box-border: #BDBFBF;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 4, 4, 0 ,0;
}

.search-button {
    -fx-background-color: #2e59d9;
    -fx-background-radius: 0 4 4 0;
}

.search-button:hover {
    -fx-background-color: #2552d2;
}