.link-button {
    -fx-background-color: white;
    -fx-background-radius: 0px;
}

.link-button:hover {
    -fx-background-color: #E5E5E5;
}

.close-button {
    -fx-background-color: white;
    -fx-background-radius: 0px;
}